postprocessing_tools/__pycache__/

*.out.nc
*.geometry
*.input 
*.output
*.error
*.fluxes
*.eps
*.png
*/mat/
*.species.input
*.scratch
*.err
*slurm*
*.exit_reason
*.fort.11
*.fort.25
*.fort.78
*.fort.99
*.lpc
*.vres
*.vres2
*.amoments
*.eigenfunc
*.gridgen.200
*.mom2
*.moments
*.vspace_integration_error
*/mat/
